.nav ul {
    list-style: none;
    background-color: #812562;
    text-align: center;
    width: 100%;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #005f5f;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 248px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
   
    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    } */
    
  }


  .formular{
    text-align: center;

    
  }
  .button2{
    background-color: #812562;
    border: none;
    color: white;
    position: relative;
    bottom: 2px;
  }

  input {
    width: 50%;
    padding: 1rem;
    margin: 1rem;

  }

  textarea{
    width: 50%;
    height: 15rem;
  }

  .flex{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: 50px;
  }

  .mybooking{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
    padding: 0;
    margin: 0;
    width: 30rem;
    position: absolute;
    left: 36%;
    font-size: 2rem;
   
  }

  .button{
    color: white;
    background-color: #198475;
    padding: 0;
    margin: 0;
    border: none;

  }

  .bg{
    background-image: url("../image/bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100.5vh;
    z-index: -100;
    margin-top: -70px;

  }

  #loginname{
    color: #812562;
    position: absolute;
    left: 11rem;
    /* background: #0e8dbc; */
    }
    h1{
      position: relative;
      left: 35rem;
    }

   #btnedit{
     width: 23rem;
     
   }

   #bookingsTableDescription{
     
     font-size: medium;
     color: red;
   }